*{
    margin: 0;
    padding: 0;
    
}


header {
    width: 100%;
    background: lightgoldenrodyellow;
    height: 90px;
}
.ancho{
    width: 80%;
    height: 90px;
    margin: auto;

    
}
.logo{
    width: 15%;
    height: 100px;
    background: red;
    box-sizing: border-box;
    
    
   
}

nav{
    width: 70%;
    height: 90%;
    background: black;
    float: left;
    

}